.chatsDiv
  width: 340px
  height: 100dvh
  background-color: #f1f1f1
  .chats
    height: calc(100dvh - 50px)
    overflow-y: scroll
  .addDiv
    height: calc( 100dvh - (100dvh - 50px) )
    justify-items: start
    align-items: center
    .addChatInput
      height: 50px !important

.emptyPage
  width: 100%
  display: grid
  place-items: center